input {
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #dde4e6;
  background: #fff;
  font-size: 12px;
  line-height: 12px;
  font-family: "Roboto Mono", sans-serif;
}
label {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  margin-bottom: 10px;
}
.error-message {
  margin: 0 0 10px !important;
  color: #f00 !important;
  font-size: 10px !important;
}
