button {
  outline: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-apparance: none;
  -moz-appearance: none;
  appearance: none;
}
button.btn {
  display: inline-block;
  border: 1px solid #6c50c8;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
button.btn-medium {
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  font-size: 14px;
}
button.btn-purple {
  color: #fff;
  background: #6c50c8;
}
button.btn-purple:hover {
  background: #fff;
  color: #6c50c8;
}
